<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Canciones</title>
</head>
<body>
    <h1>Lista de Canciones</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Autor</th>
            <th>Fecha de lanzamiento</th>
        </tr>
        <tr th:each="cancion : ${canciones}">
            <td th:text="${cancion.id}"></td>
            <td th:text="${cancion.nombre}"></td>
            <td th:text="${cancion.genero}"></td>
            <td th:text="${cancion.autor}"></td>
            <td th:text="${cancion.fechaLanzamiento}"></td>
        </tr>
    </table>
</body>
</html>